<!-- ============================================================== -->
<!-- Main wrapper -->
<!-- ============================================================== -->
<div class="main-container" class="mat-app-background" class="mat-typography"> 

  <!-- Topbar -->
  <mat-toolbar color="primary" class="topbar telative">
    <mat-toolbar-row>

      <!-- Menu -->
      <button mat-button [matMenuTriggerFor]="menu1">Menu 1</button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial 1</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail 1</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts 1</span>
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menu2">Menu 2</button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial 2</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail 2</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts 2</span>
        </button>
      </mat-menu>

      <!-- Filling & Right Text -->
      <span class="fill-remaining-space"></span>
    
      <span class="mat-body-2">Right Text</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- main content -->
  <div class="page-wrapper">
    <div class="page-content">
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </div>
  </div>

</div>