<!-- column -->
<div class="bg"></div>
<!-- row -->
<div fxLayout="row wrap" class="boxed">
  <!-- row -->
  <div fxFlex="100">
    <div class="bg-fill"></div>
  </div>
  <!-- row -->
  <!-- column -->
  <div fxFlex.gt-sm="25%" fxFlex.sm="50%" fxFlex.xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Customer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name: {{customer.firstName}} {{customer.lastName}}</p>
        <p>Birthdate: {{customer.birthDate | date:'d MMM y'}}</p>
        <p>Email: {{customer.email}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <div fxFlex.gt-sm="25%" fxFlex.sm="50%" fxFlex.xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Customer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name: {{customer.firstName}} {{customer.lastName}}</p>
        <p>Birthdate: {{customer.birthDate | date:'d MMM y'}}</p>
        <p>Email: {{customer.email}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <div fxFlex.gt-sm="25%" fxFlex.sm="50%" fxFlex.xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Customer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name: {{customer.firstName}} {{customer.lastName}}</p>
        <p>Birthdate: {{customer.birthDate | date:'d MMM y'}}</p>
        <p>Email: {{customer.email}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <div fxFlex.gt-sm="25%" fxFlex.sm="50%" fxFlex.xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Customer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name: {{customer.firstName}} {{customer.lastName}}</p>
        <p>Birthdate: {{customer.birthDate | date:'d MMM y'}}</p>
        <p>Email: {{customer.email}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- row -->
  <!-- column -->
  <div fxFlex.gt-xs="33.3%" fxFlex.xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Customer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name: {{customer.firstName}} {{customer.lastName}}</p>
        <p>Birthdate: {{customer.birthDate | date:'d MMM y'}}</p>
        <p>Email: {{customer.email}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <div fxFlex.gt-xs="33.3%" fxFlex.xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Customer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name: {{customer.firstName}} {{customer.lastName}}</p>
        <p>Birthdate: {{customer.birthDate | date:'d MMM y'}}</p>
        <p>Email: {{customer.email}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <div fxFlex.gt-xs="33.4%" fxFlex.xs="100" fxFlex="100">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Customer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name: {{customer.firstName}} {{customer.lastName}}</p>
        <p>Birthdate: {{customer.birthDate | date:'d MMM y'}}</p>
        <p>Email: {{customer.email}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <div fxFlex="100">
    <p></p>
    <mat-divider></mat-divider>
    <p></p>
  </div>
    
  <!-- column -->
  <div fxFlex="100">
    <p *ngFor="let content of fillerContent">{{content}}</p>
</div>
  </div>
